<%- include('partials/html-start.ejs') %>
<link rel="stylesheet" href="/styles/styles.css">


<h1>Welcome to Brody's Job App</h1>

<p>
   Current Jobs: <%= jobData.length %>
</p>

//todo: display the contents of the jobData...not just the length. 
<div class="col-md-3">
  <div class="card m-8 bg-secondary text-white">
      <div class="card-body">
        <h3>Add a New Job </h3>

        <form method="POST" action="/addJob">
            <label for="jobName">Job Name</label>
            <input name="jobName" placeholder="new job name">
            <input type="submit" value="add a new job" />
        </form>
    </div>
  </div>
</div>





                

<%- include('partials/html-end.ejs') %>